<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.claimride"
        version="0.0.5"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        versionCode = "100">
  <preference name='phonegap-version' value='cli-5.4.1' />

  <name>Claim Ride</name>
  <description>
    Claim Ride demo app
  </description>
  <author email="sergmedin@gmail.com" href="http://cordova.io">
    Claim Ride Team
  </author>
  <content src="index.html" />

  <!-- Android SECTION -->
  <config-file platform="android" parent="/manifest" mode="merge" >
    <!-- Add Android extensions here. -->
    <!-- SEE: http://docs.build.phonegap.com/en_US/configuring_config_file_element.md.html#Config%20File%20Elements -->
  </config-file>

  <!-- iOS SECTION -->
  <config-file target="*-Info.plist" parent="CFBundleURLTypes">
    <!-- Add iOS extensions here. SEE: http://docs.build.phonegap.com/en_US/configuring_config_file_element.md.html#Config%20File%20Elements -->
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
  </config-file>

  <!-- App requested permission -->
  <preference name="permissions" value="none"/>

  <!--  Stopping overscroll / bounce in Phonegap IOS-->
  <preference name="DisallowOverscroll" value="true" />

  <!--<preference name="orientation" value="default"/>
  --><!-- all: default means both landscape and portrait are enabled --><!--
  <preference name="target-device" value="universal"/>
  --><!-- all: possible values handset, tablet, or universal --><!--
  <preference name="fullscreen" value="true"/>
  --><!-- all: hides the status bar at the top of the screen --><!--
  <preference name="webviewbounce" value="true"/>
  --><!-- ios: control whether the screen 'bounces' when scrolled beyond the top --><!--
  <preference name="prerendered-icon" value="true"/>
  --><!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen --><!--
  --><!--<preference name="stay-in-webview" value="false"/>--><!--
  --><!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in --><!--
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  --><!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar --><!--
  <preference name="detect-data-types" value="true"/>
  --><!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system --><!--
  <preference name="exit-on-suspend" value="false"/>
  --><!-- ios: if set to true, app will terminate when home button is pressed --><!--
  <preference name="show-splash-screen-spinner" value="true"/>
  --><!-- ios: if set to false, the spinner won't appear on the splash screen during app loading --><!--
  <preference name="auto-hide-splash-screen" value="true"/>
  --><!-- ios: if set to false, the splash screen must be hidden using a JavaScript API --><!--
  <preference name="disable-cursor" value="false"/>
  --><!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app --><!--
  <preference name="android-minSdkVersion" value="7"/>
  --><!-- android: MIN SDK version supported on the target device. MAX version is blank by default. --><!--
  <preference name="android-installLocation" value="auto"/>
  --><!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. --><!--
  <preference name="loadUrlTimeoutValue " value="60000"/>-->

  <plugin name="com.ohh2ahh.plugins.appavailability" spec="0.3.1" source="pgb" />
  <plugin name="cordova-plugin-device"         source="npm" spec="1.0.1" />
  <plugin name="cordova-plugin-whitelist"      source="npm" spec="1.0.0" />
  <plugin name="cordova-plugin-screen-orientation" spec="1.4.0" source="pgb" />
  <plugin name="com.fantasyskiracer.inappbrowser" spec="1.0.4" source="pgb" />
  <plugin name="org.apache.cordova.battery-status" spec="0.2.12" source="pgb" />
  <gap:plugin name="com.hutchind.cordova.plugins.launcher" />
  <gap:plugin name="cordova-plugin-dialogs" source="npm"/>
  

  <!-- for iOS -->
  <feature name="Launcher">
    <param name="ios-package" value="Launcher" />
  </feature>
  <!-- for Android -->
  <feature name="Launcher">
    <param name="android-package" value="com.hutchind.cordova.plugins.launcher.Launcher" />
  </feature>

  <gap:config-file platform="ios" parent="NSAppTransportSecurity" mode="replace">
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>facebook.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>fbcdn.net</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>akamaihd.net</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
      </dict>
    </dict>
  </gap:config-file>
  <gap:config-file platform="ios" parent="LSApplicationQueriesSchemes" mode="replace">
    <array>
      <string>fb</string>
      <string>twitter</string>
      <string>gplus</string>
      <string>pintrest</string>
      <string>instagram</string>
      <string>youtube</string>
      <string>vnd.youtube</string>
      <string>yelp</string>
      <string>linkedin</string>
      <string>tumblr</string>
      <string>whatsapp</string>
      <string>snapchat</string>
      <string>comgooglemaps</string>
      <string>amazon</string>
      <string>skype</string>
      <string>googledrive</string>
      <string>itms-apps</string>
      <string>paypal</string>
      <string>fbapi</string>
      <string>fbapi20130214</string>
      <string>fbapi20130410</string>
      <string>fbapi20130702</string>
      <string>fbapi20131010</string>
      <string>fbapi20131219</string>
      <string>fbapi20140410</string>
      <string>fbapi20140116</string>
      <string>fbapi20150313</string>
      <string>fbapi20150629</string>
      <string>fbauth</string>
      <string>fbauth2</string>
      <string>fb-messenger-api20140430</string>
      <string>fb-messenger-api</string>
      <string>fbshareextension</string>
      <string>uber</string>
      <string>lyft</string>
    </array>
  </gap:config-file>

<!--   Define app icon for each platform. -->
  <icon src="resources/ios/icon/icon.png" gap:platform="ios" width="57" height="57" />
<!--   iPhone 6 / 6+ -->
  <icon src="resources/ios/icon/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
<!--   iPhone / iPod Touch  -->
  <icon src="resources/ios/icon/icon-60.png" gap:platform="ios" width="60" height="60" />
  <icon src="resources/ios/icon/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
<!--   iPad -->
  <icon src="resources/ios/icon/icon-76.png" gap:platform="ios" width="76" height="76" />
  <icon src="resources/ios/icon/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
<!--   Settings Icon -->
  <icon src="resources/ios/icon/icon-small.png" gap:platform="ios" width="29" height="29" />
  <icon src="resources/ios/icon/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
<!--   Spotlight Icon -->
  <icon src="resources/ios/icon/icon-40.png" gap:platform="ios" width="40" height="40" />
  <icon src="resources/ios/icon/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

  <icon src="resources/ios/icon/icon-72.png" gap:platform="ios" width="72" height="72" />

<!--   Define app splash screen for each platform. -->
  <gap:splash src="resources/ios/splash/Default~iphone.png"             gap:platform="ios" width="320" height="480"/>
  <gap:splash src="resources/ios/splash/Default@2x~iphone.png"          gap:platform="ios" width="640" height="960"/>
  <gap:splash src="resources/ios/splash/Default-568h@2x~iphone.png"     gap:platform="ios" width="640" height="1136"/>
  <gap:splash src="resources/ios/splash/Default-667h.png"               gap:platform="ios" width="750" height="1334"/>
  <gap:splash src="resources/ios/splash/Default-Portrait~ipad.png"      gap:platform="ios" width="768" height="1024"/>
  <gap:splash src="resources/ios/splash/Default-736h.png"               gap:platform="ios" width="1242" height="2208"/>
  <gap:splash src="resources/ios/splash/Default-Portrait@2x~ipad.png"   gap:platform="ios" width="1536" height="2048"/>




  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
</widget>