 
            <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4"> </label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Allow 'SocialPutts' to use your current location?
                    Your location is required to help identify your favorite courses, 
                    give you more opportunities to play golf, 
                    and provide you with deals at golf courses near you. 
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-lg-offset-4 col-lg-10 col-md-offset-4 col-sm-offset-4">
                <input type="button" class="btn btn-success btn-lg" value="Don't Allow" ng-click="DontAllow()"/>
                <input type="button" class="btn btn-success btn-lg" value="Allow" ng-click="Allow()"/>
            </div>
 