 
            <div class="form-group ">
                <label class="control-label col-lg-4 col-md-4 col-sm-4"> </label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img ng-src="{{getImageData()}}"/>
                    <div class="clearfix"></div>
                    SocialPutts will receive the following info:
                    <ul>
                        <li>your public profile, email address, friends list, hometown and personal description</li>
                    </ul>
                  
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-lg-offset-4 col-lg-10 col-md-offset-4 col-sm-offset-4">
                <input type="button" class="btn btn-success btn-lg" value="Cancel" ng-click="Cancel()"/>
                <input type="button" class="btn btn-success btn-lg" value="Ok" ng-click="Approve()"/>
            </div>
 
