<div ng-include src="'partials/Navigation.html'"></div>
<div>
	<div class="opposit">
		{{firstName}} {{lastName}}
	</div>
	<div class="pre-scrollable row message-history">
		<div class="message" ng-repeat="message in history">
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
				<img ng-src="{{SP}}/Profile/GetAvatar/{{message.fromUserEmail}}" alt="Alternate Text" class="small-chat-avatar img-responsive">
			</div>
			<div class="col-sm-9 col-xs-9"><strong>{{message.fromUserName}}</strong></div>
			<div class="col-sm-9 col-xs-9">{{message.message}}</div>
			<div class="pull-right"><em>{{message.dateTime}}</em></div>
		</div>
	</div>
	<div class="row text-message-field">
		<textarea class="form-control" ng-model="messageText"></textarea>
	</div>
	<div class="row send-control">
		<input type="button" class="btn btn-success" value="Send Message" ng-click="sendMessage()" />
	</div>
</div>
