<div ng-include src="'partials/Navigation.html'"></div>
<div>
	<div class="row">
	    <h3 class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 course-finder-title">Find a Course</h3>
          <div class="center-block">
            <div>
                <a href="#" class="btn btn-success btn-lg" ng-click="searchCourse($event)">Search</a>
            </div>
        </div>
	</div>
	<div class="course-finder-form">
	    <form action="/" method="post" class="form-horizontal" name="curse-finder" id="course-finder-form" novalidate>
	        
                 <!-- STATE-->
	        <div class="form-group">
	            <label class="control-label col-lg-4 col-md-3 col-sm-3">State:</label>
	            <div class="col-lg-4 col-md-6 col-sm-8"> 
	                <div>
	                    <select id="stateFG" class="form-control"
	                            name="StateName"
	                            ng-model="searchGroup.state"
	                            ng-change="stateFGChanged()"
	                            ng-options="state.name for state in staticArrays.states">
	                    </select>
	                </div>
	            </div>
                
	        </div>
             <div ng-show="selectState" class="alert alert-danger center-text" role="alert">
                          <span class="sr-only">Error:</span>
                          Please select a State
            </div>

	        <div class="form-group">
	            <label class="control-label col-lg-4 col-md-3 col-sm-3">Course:</label>
	            <div class="col-lg-4 col-md-6 col-sm-8">
	                <input type="text" class="form-control" id="course" name="CourseName"  ng-change="courseNameChanged()" ng-model="findCourseName" ng-disabled="isCourseNameDisabled"/>
                    
                    
	                <div class="autocompletediv" ng-show="showcomplete">
	                    <table class="autocomplete">
	                        <tr ng-repeat="course in coursesByName | orderBy:predicate:reverse | filter:findCourseName" ng-click="rowClick(course.id, course.courseName);" id='row_{{course.id}}'>
	                            <td> {{course.courseName}} </td>
	                        </tr>
	                        <!--| orderBy:predicate:reverse< | filter:findCourseName-->
	                    </table>
	                </div>
	            </div>
             
	        </div>
	        <!-- City-->
	        <div class="form-group">
	            <label class="control-label col-lg-4 col-md-3 col-sm-3">City:</label>
	            <div class="col-lg-4 col-md-6 col-sm-8">
	                <input type="text" class="form-control"
	                       id="cityFG"
	                       name="City"
	                       city-autocomplete autocomplete-val="searchGroup"
	                       placeholder="City"
	                       ng-model="searchGroup.city"
	                       ng-click="cityFGClick()"
	                       ng-keydown="pressEnter($event)"/>
	            </div>
	        </div>
            
	   
	        <!-- ZIP-->
	        <div class="form-group">
	            <label class="control-label col-lg-4 col-md-3 col-sm-3">Zip:</label>
	            <div class="col-lg-4 col-md-6 col-sm-8">
	                <input type="text" class="form-control"
	                       id="zipFG"
	                       name="Zip"
	                       zip-autocomplete autocomplete-val="searchGroup"
	                       class="group-form-input"
	                       placeholder="Zip"
	                       ng-model="searchGroup.zip"
	                       ng-click="zipFGClick()"
	                       ng-change="cityFGChanged()">
	            </div>
	        </div>

	        <!--
	            <div class="form-group">
	                <label class="control-label col-lg-4 col-md-3 col-sm-3">City:</label>
	                <div class="col-lg-4 col-md-6 col-sm-8">
	                    <input type="text" class="form-control" id="city" name="City" />
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="control-label col-lg-4 col-md-3 col-sm-3">State:</label>
	                <div class="col-lg-4 col-md-6 col-sm-8"> 
	                    <div>
	                        <input type="text" class="form-control" id="state" name="StateName">
	                    </div>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="control-label col-lg-4 col-md-3 col-sm-3">Zip:</label>
	                <div class="col-lg-4 col-md-6 col-sm-8">
	                    <input type="text" class="form-control" id="zip" name="Zip" />
	                </div>
	            </div>	-->
	        <div class="form-group">
	            <label class="control-label col-lg-4 col-md-3 col-sm-3">Country:</label>
	            <div class="col-lg-4 col-md-6 col-sm-8">
	                <select id="country" class="form-control" name="CountryId" disabled="disabled">
	                    <option  ng-repeat="country in searchCourseModel.countries" value="{{country.id}}">{{country.name}} </option>
	                </select>
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-lg-4 col-md-3 col-sm-3">Within:</label>
	            <div class="col-lg-4 col-md-6 col-sm-8">
	                <select class="form-control" id="within" name="Mileage">
	                    <option value="0">None</option>
	                    <option value="15">15 miles</option>
	                    <option value="30">30 miles</option>
	                    <option value="50">50 miles</option>
	                    <option value="75">75 miles</option>
	                </select>
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-lg-4 col-md-3 col-sm-3"># of Holes:</label>
	            <div class="col-lg-4 col-md-6 col-sm-8">
	                <label>
	                    <input type="radio" name="NumberOfHoles" checked="checked" value="0"/> All
	                </label>
	                <label>
	                    <input type="radio" name="NumberOfHoles" value="18"/> 18 holes
	                </label>
	                <label>
	                    <input type="radio" name="NumberOfHoles" value="9"/> 9 holes
	                </label>
	            </div>
	        </div>
            
	        <div class="form-group">
	            <label class="control-label col-lg-4 col-md-3 col-sm-3">Best Price Only:</label>
	            <div class="col-lg-4 col-md-6 col-sm-8">
	                <label>
	                    <input id="HasBestPrice" name="HasBestPrice" type="checkbox" value="true">
                      
	                </label>
	                
	            </div>
	        </div>
	    </form>
        
      



	    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1  pre-scrollable favorite-container">
		    <a href="index.html#/courses"><h3> My Courses</h3></a>
			<div ng-repeat="favCourse in favCourses" class="row mrgB20 ">
			    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			        <a><span ng-bind="favCourse.courseName" ng-click="gotoDetailCourse(favCourse.id, favCourse.courseName)" class="ng-binding"></span></a>
			    </div>
			    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img ng-show="favCourse.hasBestPrice" src="imgs/best_price.png" /></div>
			</div>
		
		</div>
		
		
	</div>
</div>

<div class="hidden" id="map" ></div>