<div ng-include src="'partials/Navigation.html'"></div>
<div>
    
    <div class="row col-md-12"  style="    margin-top: -15px;">
        <div style="    margin-top: 20px;"ng-show="coursesOnMap.length==0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group-box">
            <div class="center-block">0 Courses found.</div>
            <div class="center-block mrgT10 mrgB20"> <a class="btn btn-lg btn-default" href="#/courseFinder">  <span>Back to Search</span></a></div>
        </div>
    </div>
    
    
    <table class="table">
    <thead>
        <tr>
            <th style="max-width: 60px;padding: 1px;">
                Add to Favorite
            </th>
            <th style="max-width: 60px; padding: 1px;">
                <a href="" ng-click="order('combinedNameAndMileage')">Course Name</a>
                <span class="sortorder reverse ng-hide" ng-show="predicate === 'combinedNameAndMileage'" ng-class="{reverse:reverse}"></span>
                
            </th>
            <th style="max-width: 100px;padding: 1px;text-align: center;">
                <!-- Foursome Discount (%) --> 
             
                <a href="" ng-click="orderDesc('hasBestPrice')">Best Price Guarantee</a>
                <span class="sortorder reverse ng-hide" ng-show="predicate === 'hasBestPrice'" ng-class="{reverse:reverse}"></span>
            </th>
            <th style="padding: 1px;min-width: 51px;">
                Map <br/>this
            </th>
        </tr>
    </thead>
        <tbody>
        					</tbody>
						</table>


    <div class="pre-scrollable searched-course-result">
        
    
        <!-- {{courses.length}} -->
        <table class="table">
            <!--		<thead>
                		    <tr>
                		        <th>
                		            Add to Favorite
                		        </th>
                		        <th>
                		            Course Name
                		        </th>
                		        <th style="text-align:center;">
                		            Best Price Guarantee
                		        </th>
                		        <th>
                		        </th>
                		    </tr>
                		</thead>
                -->
            <tbody ng-repeat="course in coursesOnMap | orderBy:predicate:reverse" class="searchlist">
                <tr>
                    <td style=" padding: 1px; max-width: 132px;">
                        <a href="#" class="addToFavsIcon" courseId="{{course.id}}" ng-click="addToFavorite($event)" ng-show="course.isNotFavorite" title="Add to Favorite" />
                    </td>
                    <td style=" padding: 1px; max-width: 132px;">
                        <a class="big-href"ng-click="gotoDetailCourse(course.id, course.courseName)"  >{{course.combinedNameAndMileage}}
                        </a>
                    </td>
                    <td  style="text-align: center; max-width: 132px; padding: 1px;">
                        <!-- <label>{{course.combinedDiscountAndText}}
                             </label> -->
                        <img ng-show="course.hasBestPrice" class="best-price " src="imgs/best_price.png" />
                    </td>
                    <td class="td" style="text-align: center;padding: 1px; max-width: 132px;">
                        <button ng-click="mapRoute(course,'anchorMap')"  class="btn-select "></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="legend" id="anchorMap">
        <span >
            <img class="legend-item-image" src="imgs/blue-dot.png" /> -Private
            <img class="legend-item-image" src="imgs/red-dot.png" /> -Public
        </span>
        <span >
            <img class="legend-item-image" src="imgs/purple-dot.png" /> -Semi Private
            <img class="legend-item-image" src="imgs/green-dot.png" /> -Resort
        </span>
        <span >
               <img class="legend-item-image" src="imgs/yellow-dot.png" /> -Military
            <img class="legend-item-image" src="imgs/pink-dot.png" /> -Municipal
         
        </span>
    </div>
	<div>
		<div id="map"></div>
	</div>
	
    <div class="popup" style="display:none;">
        <div class="popup-info">
            <div class="course-name">
                <h4>{{popupInfo.courseName}}</h4>
            </div>
            <div class="course-info">
                <div class="image pull-left">
                    <img src="{{popupInfo.url}}" /> 
                </div>
                <div class="info pull-left">
                    <div>Type: <span>{{popupInfo.courseType}}</span></div>
                    <div>Phone: <span>{{popupInfo.phone}}</span></div>
                    <div>Address: <span>{{popupInfo.address}}</span></div>
                </div>
            </div>
            <div>
                <button ng-click="addToFavorite($event)"  courseId="{{popupInfo.id}}" ng-show="!popupInfo.isFavourite" class="btn btn-warning list-as-fav">List as Favorite</button>
                <button ng-click="removeFromFavorite($event)"  courseId="{{popupInfo.id}}" ng-show="popupInfo.isFavourite" class="btn btn-warning not-fav">Not a Favorite</button>
            </div>
        </div>
		
    </div>
    <br/>
    <div class="detail-course">
       <a class="big-href"ng-click="gotoDetailCourse(selectCourse.id, selectCourse.courseName)" ng-bind="selectCourse.courseName" > </a>
        <p ng-class="{'not-visual':showSelectCourse }">(Press the link to enter course details)</p>
        <button  class="up-scroll" ng-click="goTo('anchorTop')">Scroll to Top</button>
     
    </div>
</div>

