<div ng-include src="'partials/Navigation.html'"></div>


<div class="row col-md-12">
    <div class="center-block">    
        <h3>{{courseName}}</h3>
        <div class="col-lg-3 col-md-3 "> </div>   
        <div class="col-lg-3 col-md-3 "><button class="btn btn-lg btn-default" ng-click="bookTee()" > Book a Tee Time</button></div>
        <div class="col-lg-3 col-md-3 ">
            <button class="btn btn-lg btn-default" ng-click="invite()"> Create Invitation</button>
        </div>
        
      

        <div class="col-lg-3 col-md-3 "></div>
        
    </div>
</div>

<div class="row mrgT10 mrgB20">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-text" ng-hide="bookaTeeTimeDisable"> <p>We're sorry, but this course is not currently a part of the SocialPutts Network. Please click the following button and we will reach out to them to encourage them to join SocialPutts. </p>
        Thank you!</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-text" ng-hide="bookaTeeTimeDisable">
        <button class="btn btn-lg btn-default" ng-click="courseRequest()"> Add Course Request </button>
    </div>
</div>



<div>
	<div class="center-block">
		<h3>Course Details</h3>
	</div>
	<div class="center-block">
	<div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 graylabel"><label class="pull-right" >Address:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left label-coursedetail" ng-bind="currentCourse.address"></label></div>
    </div>
    
     <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 "><label class="pull-right graylabel">City:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left" ng-bind="currentCourse.city"></label></div>
    </div>    

    <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-right graylabel">State:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left" ng-bind="currentCourse.state"></label></div>
    </div>    

     <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-right graylabel">Dress code:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left" ng-bind="currentCourse.dressCode"></label></div>
    </div>  
        
	  <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-right graylabel">Year Built:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left" ng-bind="currentCourse.yearBuilt"></label></div>
    </div>   
       
    <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-right graylabel">Contact phone:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left" ng-bind="currentCourse.phone"></label></div>
    </div>  
        
      <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-right graylabel">Guest policy:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left" ng-bind="currentCourse.guestPolicy?'yes':'no'"></label></div>
    </div>
        
     <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-right graylabel">Number of holes:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left" ng-bind="currentCourse.numberOfHoles"></label></div>
    </div>

    <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-right graylabel">Allow 9 holes game:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left" ng-bind="currentCourse.isAllow9HolesGame?'yes':'no'"></label></div>
    </div>

    <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-right graylabel">Metal spikes:</label></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="pull-left" ng-bind="currentCourse.metalSpikes?'yes':'no'"></label></div>
    </div>
    
	    
		
	</div>
</div>



<div class="row col-md-12">
   
<h2 class="green block-header">
    Members</h2>
</div>
<div class="row" id="groupmembers">
       
        <div class="block-body">
            <div class="favorite-list-container">
                   
                           
                <div ng-repeat="buddy in invitation.UserBuddies"  class="row">
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2"><img src="{{SP}}/Profile/GetAvatar?username={{buddy.email}}" alt="Member photo" class="small-avatar"> </div>
                    <div class="col-lg-6 col-sm-66 col-md-6 col-xs-6"> <h5>{{buddy.firstName}} {{buddy.lastName}}</h5> 
                        <p>  {{buddy.city}}, {{buddy.state}} </p>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                        <div id="btn-{{buddy.id}}" ng-show="!buddy.isInvitedByUser&&!buddy.isInvitedByFriend&&!buddy.isApproved">
                            <button class="btn btn-success" ng-click="addBuddy(buddy.email, buddy.id)">Add Buddy</button>
                        </div>
                        <div id="buddymes-{{buddy.id}}"></div>
                        <div ng-show="buddy.isInvitedByUser">Your buddy request was sent</div>
                        <div ng-show="buddy.isInvitedByFriend"><span style="color: green;">{{buddy.firstName}} {{buddy.lastName}}</span> invited you to join as a buddy</div>
                        <div ng-show="buddy.isApproved">Your buddy request to <span style="color: green;">{{buddy.firstName}} {{buddy.lastName}}</span> was  approved</div>
                                     
                    </div>
                </div>
                      
                              
              
            </div>
                
        </div>
     </div>

