<div ng-include src="'partials/Navigation.html'"></div>
<div class="favorite-courses">
	<div class="center-block">
		<h2>Favorite Courses</h2>
	</div>
	<div class="course-item" ng-repeat="course in favCourses">
		<div class="col-lg-9 col-md-8 col-sm-8 col-xs-6">{{course.courseName}}</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<!-- <button class="btn btn-default" ng-click="removeFromFav($index, course)">Remove From Favorite</button> -->
			<a href="#/fillYourFoursome?courseId={{course.id}}" class="btn btn-default">Create Invite</a>
		</div>
	</div>
	<div style="text-align:center;">
		<h2 class="green">Find a Favorite Course</h2>
		<div>
			<a href="#/courseFinder" class="btn btn-success">Search For A Course</a>
		</div>
	</div>
</div>

