<div ng-include src="'partials/Navigation.html'">
</div>

<div>
    <div class="row">
        <div class="col-lg-2">
            <h2 class="green"> Create Invitation</h2>
        </div>
    </div>
    <div class="create-invitation-form">
        <form action="/" method="post" class="form-horizontal" name="create-invitation" id="create-invitation-form"
        novalidate>
        <div class="form-group row">
        	<div class="col-lg-5 col-md-9 col-sm-9 col-xs-12 pull-right" style="margin-top: 5px;">
        	<div class="mode-container" ng-show="isUserInRole">
        		<input type="radio" name="mode" value="course-admin" ng-model="mode" class="ng-pristine ng-valid">Course Admin Mode
        		<input type="radio" name="mode" value="golfer" checked="checked" ng-model="mode" class="ng-pristine ng-valid">Golfer Mode
        	</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pull-left">
        	<label class="">
        		<span class="asterisk">*</span> Required fields
        	</label></div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                Invitation name:
            </label>
            <div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
                <input type="text" class="form-control" id="invitation-name" name="invitation name" ng-model="invitation.name" />
            </div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<span class="asterisk">*</span>
			</div>
        </div>
		
		
		
		<div ng-switch on="mode">
			
			<div ng-switch-when="golfer">
				<div class="form-group">
					<label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
						Favorite Courses:
					</label>
					<div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
						<select class="fav-courses form-control" name="FavoriteCourse" id="FavoriteCourse"
							ng-model="invitation.favoriteCourse"
							ng-options="c.id as c.courseName for c in invitation.favoriteCourses"
							ng-disabled="invitation.course.courseName.length > 0">
							<option value="">Select course</option>
						</select>
					<p></p>
						
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span class="asterisk">*</span>
					</div>
				</div>
				<div class="row">
					  <h3 class="center-block" > OR</h3>  
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
						Course:
					</label>
					<div class="col-lg-6 col-md-7 col-sm-6 col-xs-5">
						<input type="text" class="form-control ng-pristine ng-valid" id="сourse" name="сourse" ng-model="invitation.course.courseName" ng-disabled="!(invitation.favoriteCourse == null || invitation.favoriteCourse == '')">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
						<span class="asterisk">*</span>
						<a class="btn btn-success course-finder" href="#/courseFinder">Course Finder</a>
					</div>
				</div>
			</div>
			
			<div ng-switch-when="course-admin">
				<div class="form-group">
					<label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
						Special Offer:
					</label>
					<div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
						<textarea ng-model="invitation.specialOffer" id="specialOffer" class="form-control"></textarea>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span class="asterisk">*</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
						Course:
					</label>
					<div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
						<select class="fav-courses form-control" name="courseToAdmin" id="courseToAdmin"
							ng-model="invitation.course.id"
							ng-options="c.id as c.courseName for c in invitation.coursesToAdmin"
							>
							<option value="">Select course</option>
						</select>
						<p></p>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span class="asterisk">*</span>
					</div>
				</div>
			</div>
		</div>
        
		
		
		<div class="form-group">
            <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                Date:
            </label>
            <div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
                <input type="text" class="form-control" id="date" name="date" coursedatepicker ng-model="invitation.date"/>
            </div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<span class="asterisk">*</span>
			</div>
        </div>
		
		
		
		
		<div ng-switch on="mode">
			
			<div ng-switch-when="golfer">
				<div class="form-group">
					<label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
						Exact Time:
					</label>
					<div class="col-lg-6 col-md-7 col-sm-6 col-xs-6">
						<input type="text" class="form-control" id="exact-time" name="exact-time" ng-model="invitation.exactTime"
						ng-disabled="!((invitation.timeframe == null || invitation.timeframe == '') && invitation.timeframe != 0)"
						exacttimeonblur exacttimepicker />
						<p>
							<small><strong>(Book a tee time at the course and enter the time here) </strong>
							</small>
						</p>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
						<span class="asterisk">*</span>
						<a href="#" class="btn btn-success course-finder" ng-click="BookaTeeTime($event)">Book a Tee Time</a>
					</div>
				</div>
				<div class="row">
					<h3 class="center-block" > OR</h3>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
						Timeframe:
					</label>
					<div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
						<select name="Timeframe" id="timeframe" class="form-control"
							ng-model="invitation.timeframe"
							ng-options="t.value as t.text for t in invitation.timeFrames"
							ng-disabled="invitation.exactTime">
							<option value="">Select timeframe</option>
						</select>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span class="asterisk">*</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
						Cost of Greens Fee:
					</label>
					<div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
						<select name="CostOfGreensFee" id="cost-greens-fee" class="form-control"
							ng-model="invitation.costOfGreensFeeValue"
							ng-options="t.value as t.text for t in invitation.costOfGreensFee">
							<option value="">Select Cost of Greens Fee</option>
						</select>
					<p></p>
					</div>
				</div>
			
			</div>
			
			<div ng-switch-when="course-admin">
				<div class="form-group">
					<label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
						Tee Time:
					</label>
					<div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
						<input type="text" id="exacttime" name="ExactTime" class="exactTime form-control"
							ng-model="invitation.exactTime"
							exacttimepicker />
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span class="asterisk">*</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-lg-2 col-md-4 col-sm-5 col-xs-12">
						# of Golfers Needed to Fill Foursome:
					</label>
					<div class="col-lg-6 col-md-7 col-sm-6 col-xs-10">
						<select class="form-control" name="GolfersNeeded"
								ng-model="invitation.golfersNeeded"
								ng-options="g.value as g.text for g in invitation.golfersNeededList">
						</select>
						<p></p>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span class="asterisk">*</span>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
        
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="green">
                        Select Buddies
                    </h2>
                </div>
            </div>
            <div class="form-group">
                <div  class="w13pers col-lg-2">
                    <button type="button" class="btn btn-success control-label  " ng-click="ShowSelectBuddiesPopup()">
                        Select Buddies</button> 
                </div>
                <div class="col-lg-8">
                    <p>
                        <strong>Select the Buddies you would like to invite to play golf. Invite as many as
                            you'd like, if too many accept your invitation you can select who you want to play
                            with! </strong>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-6" id="buddies-list" ng-show="displayBuddiesContaner">
                    <div ng-repeat="buddy in invitation.userBuddies | filter: { IsSelected: true}">
                        <div class="buddy" >            
                            <input type="hidden" name="Buddies" value="<%= item.get('Id') %>" />
                            <div class="avatar pull-left">
                                <img ngCloak ng-src="{{SP}}/Profile/GetAvatar?username={{buddy.username}}" alt="" class="small-avatar"/>
                            </div>
                            <div class='name pull-left'>
                                {{buddy.firstName}} {{buddy.lastName}}
                            </div>
                            <div class='buttons-panel pull-right'>
                                <button type='button' class='remove-buddy btn btn-success' ng-click="RemoveBuddy()">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"> 
                <div class="col-lg-2">
                    <h2 class="green  ">
                        Golfer Match
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <input type="checkbox" class="mrgT10  checkbox pull-left" ng-model="invitation.golferMatch.activateGolferMatch"/> 
                <h4 class="pull-left">
                    Activate Golfer Match
                </h4> 
                </div> 
                
            </div>
            
            <div id="golfer-match-form" class="form-group" ng-class="{true:'', false:'disabled-section'}[invitation.golferMatch.activateGolferMatch]">
            
                <div class="row">
                    <div class="col-lg-3 w24pers pull-left">
                    </div>
                    <div class="col-lg-12 pull-left">
                        <p>
                            <strong>Use the following fields to find golfers like you to Fill Your Foursome! Please
                                provide as much information as possible to best Fill Your Foursome with golfer like
                                you. </strong>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        City:
                    </label>
                    <div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
                        <input type="text" class="form-control" id="city" name="city" 
						ng-model="invitation.golferMatch.city"
						ng-disabled="invitation.golferMatch.zipCode.length > 0 || !invitation.golferMatch.activateGolferMatch"
						ng-change="ChangeGolferMatch()" ng-model-onblur />
                    </div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span class="asterisk">*</span>
					</div>
                </div>
				<div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        State:
                    </label>
                    <div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
						<select id="state" name="state" class="form-control"
							ng-model="invitation.golferMatch.state"
							ng-options="s.id as s.name for s in invitation.golferMatch.states"
							ng-disabled="invitation.golferMatch.zipCode.length > 0 || !invitation.golferMatch.activateGolferMatch"
							ng-change="ChangeGolferMatch()">
						</select>
                    </div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span class="asterisk">*</span>
					</div>
                </div>
                <div class="row">
                    <div class="mrgL45per">
                        <h4 class="pull-left">
                            OR</h4>
                    </div>
                </div>
                
				<div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Zip:
                    </label>
                    <div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
                        <input type="text" class="form-control" id="zip" name="zip" 
						ng-model="invitation.golferMatch.zipCode"
						ng-disabled="invitation.golferMatch.city.length > 0 || !invitation.golferMatch.activateGolferMatch"
						only-number-input=""
						ng-change="ChangeGolferMatch()"/>
                    </div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span class="asterisk">*</span>
					</div>
                </div>
                
				<div class="row">
					<div class="col-lg-12 col-lg-offset-2 mrgB20 include-golfers">
						<input type="checkbox" class="pull-left mrgR10" 
						ng-model="invitation.golferMatch.includeGolfersWhoNotLocal"
						ng-change="ChangeGolferMatch()"
						ng-disabled="!invitation.golferMatch.activateGolferMatch"/><strong>Include golfers who are not local to where you are playing, but often travel
						to play in this area </strong>
					</div>
				</div>
				
                
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Within:
                    </label>
                    <div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">
						<select class="form-control" id="within" name="within"
						ng-model="invitation.golferMatch.within"
						ng-options="w.value as w.text for w in invitation.golferMatch.withins"
						ng-disabled="!invitation.golferMatch.activateGolferMatch"
						ng-change="ChangeGolferMatch()"/>
                    </div>
                </div>
                
				<div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Golfer profile:
                    </label>
                    <div class="controls col-lg-6  col-md-11 col-sm-10 col-xs-10">
                        <div class="checkbox-group">
                            <label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.profileBeginner"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
                                <span>Beginner</span></label>
                            <label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.profileSerious"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
                                <span>Serious golfer</span></label>
                            <label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.justForFun"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
                                <span>Just for fun</span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Gender:
                    </label>
                    <div class="controls col-lg-6  col-md-11 col-sm-10 col-xs-10">
                        <div class="checkbox-group">
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.gender" value="0"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
                                <span>Male</span></label>
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.gender" value="1"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
                                <span>Female</span></label>
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.gender" value="2"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Doesn't matter</span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">  
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Age:
                    </label>
                    
                     <div class="col-lg-6 col-md-9 col-sm-8 col-xs-10">    
						 <select multiple="multiple" class="col-lg-4 group-select"
							ng-multiple="true"
							ng-model="invitation.golferMatch.ages"
							ng-options="a.id as a.displayValue for a in invitation.golferMatch.agesValues"
							ng-change="ChangeGolferMatch()"
							ng-disabled="!invitation.golferMatch.activateGolferMatch">
						</select>
                    </div> 
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Handicap:
                    </label>
                    <div class="col-lg-6 col-md-9 col-sm-8 col-xs-10"> 
						<select multiple="multiple" class="col-lg-4 group-select"
							ng-multiple="true"
							ng-model="invitation.golferMatch.handicaps"
							ng-options="h.id as h.displayValue for h in invitation.golferMatch.handicapsValues"
							ng-change="ChangeGolferMatch()"
							ng-disabled="!invitation.golferMatch.activateGolferMatch">
						</select>
                     </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Tees:
                    </label>
                    <div class="controls col-lg-6  col-md-11 col-sm-10 col-xs-10">
                        <div class="checkbox-group">
                            <label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.teesRed"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Red</span></label>
                            <label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.teesWhite"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>White</span></label>
                            <label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.teesBlue"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Blue</span></label>
							<label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.teesBlack"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Black</span></label>
                        </div>
                    </div>
                </div>
				
				<div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Formats:
                    </label>
                    <div class="controls col-lg-6  col-md-11 col-sm-10 col-xs-10">
                        <div class="checkbox-group">
                            <label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.formatsPlayYourOwnBall"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Play your own ball</span></label>
                            <label class="checkbox">
                               <input type="checkbox"
									ng-model="invitation.golferMatch.formatsScramble"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Scramble</span></label>
                            <label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.formatsBestBall"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Best ball</span></label>
							<label class="checkbox">
                                <input type="checkbox"
									ng-model="invitation.golferMatch.formatsSkins"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Skins</span></label>
                        </div>
                    </div>
                </div>
				
				<div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Getting around:
                    </label>
                    <div class="controls col-lg-6  col-md-11 col-sm-10 col-xs-10">
                        <div class="checkbox-group">
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.around" value="0"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Walk</span></label>
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.around" value="1"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Ride</span></label>
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.around" value="2"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Doesn't matter</span></label>
                        </div>
                    </div>
                </div>
				
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Smoke?
                    </label>
                    <div class="controls col-lg-6  col-md-11 col-sm-10 col-xs-10">
                        <div class="checkbox-group">
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.smoke" value="0"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Yes</span></label>
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.smoke" value="1"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>No</span></label>
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.smoke" value="2"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Doesn't matter</span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        Drink?
                    </label>
                    <div class="controls col-lg-6  col-md-11 col-sm-10 col-xs-10">
                        <div class="checkbox-group">
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.drink" value="0"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Yes</span></label>
                            <label class="checkbox first">
                               <input type="radio"
									ng-model="invitation.golferMatch.drink" value="1"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>No</span></label>
                            <label class="checkbox first">
                                <input type="radio"
									ng-model="invitation.golferMatch.drink" value="2"
									ng-change="ChangeGolferMatch()"
									ng-disabled="!invitation.golferMatch.activateGolferMatch" />
								<span>Doesn't matter</span></label>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div id="indent-save-pref-btn" class="col-lg-1" > </div>   
                    <button type="button" class="btn btn-warning mrgL10" 
					ng-click="SaveGolferMatchAsDefault()" 
					ng-disabled="!invitation.golferMatch.activateGolferMatch"> Save preferences as Default</button> 
                </div>

            </div>
          <!-- end id="golfer-match-form-->

            <div class="row mrgT20">
                <div class="pull-left mrgR30 col-lg-offset-1">
                    <button type="button" class="btn btn-success" id="send-invitations-button" ng-show="!isEdit" ng-click="SendInvitations()">
                    Send Invitations</button>
					<button type="button" class="btn btn-success" id="send-invitations-button" ng-show="isEdit" ng-click="EditInvitation()">
                    Send New Invitations</button>
                <a href="#/index" class="btn btn-default">
                    Cancel</a>

                </div>
				
				<div class="searched-invitations" ng-show="IsSearchedGolfersMatch && invitation.golferMatch.activateGolferMatch">
					<div ng-switch on="isGreaterThenOne">
						<div ng-switch-when="true">
							<label>
								<h4>
									{{countInvitationsPending}} Invitations Pending</h4>
							</label>
						</div>
						<div ng-switch-when="false">
							<label>
								<h4>
									{{countInvitationsPending}} Invitation Pending</h4>
							</label>
						</div>
					</div>
				</div>
				
				<div class="successfully-sent-invitations">
					<div ng-hide="dispalyIf0InvitationsSent">
						<div ng-switch on="isSentInvitationsMany">
							<div ng-switch-when="true">
								<h4>
									{{invitationsSent}} Invitations Successfully Sent!</h4>
								<a class="btn btn-success col-lg-offset-5 col-md-offset-5 col-sm-offset-5" href="#/manageInvitations">Ok</a>
							</div>
							<div ng-switch-when="false">
								<h4>
									{{invitationsSent}} Invitation Successfully Sent!</h4>
								<a class="btn btn-success col-lg-offset-6 col-md-offset-4 col-sm-offset-5" href="#/manageInvitations">Ok</a>
							</div>
						</div>
					</div>
					<div ng-show="dispalyIf0InvitationsSent">
						<h4>
							No Matches Found. Please adjust your search criteria</h4>
					</div>
				</div>
				
            </div>
			
        </form>
    </div>
</div>

<div id="select-buddies-popup" ng-show="IsShowBuddiesPopup" class="select-buddies-popup" title="Invite to Play">
    <div ng-repeat="buddy in invitation.userBuddies">
        <div class="buddy" ng-class="{selected: buddy.IsSelected}">
            <div class="avatar pull-left">
                <img ngCloak ng-src="{{SP}}/Profile/GetAvatar?username={{buddy.username}}" alt="" class="small-avatar"/>
            </div>
            <div class='name pull-left'> 
                {{buddy.firstName}} {{buddy.lastName}}
            </div>
            <div class='buttons-panel pull-right'>
                <button type='button' class=' btn btn-success' ng-click="AddBuddy()" ng-hide="buddy.IsSelected">Add</button>
                <button type='button' class='btn btn-success' ng-click="RemoveBuddy()" ng-show="buddy.IsSelected">Remove</button>
            </div>
        </div>
    </div>
</div>
