<div ng-include src="'partials/Navigation.html'"></div>

<div class="row center-block">
    <h3>Find My Groups</h3>
     <a class="btn btn-lg btn-default" href="index.html#/groupfinder">  <span>Search For a Group </span></a>
</div>

<div class="container">
<div class="row">
    <div class="row">
   
        <div class="col-md-12">
            <h4>My Groups</h4>
            </div>

   </div>
    <div class="row"> 
        <div class="col-md-3">
            <p class="hidden-sm hidden-xs">Name</p>
        </div>
        <div class="col-md-3">
            <p class="hidden-sm hidden-xs">Type</p>
        </div>
        <div class="col-md-3">
            <p class="hidden-sm hidden-xs"># Members</p>
        </div>
        <div class="col-md-3">
            <p class="hidden-sm hidden-xs">Categories</p>
        </div>


</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
     <div class="row group-box mrgT10"  ng-repeat="group in groups | orderBy:predicateOwner:reverseOwner"  id='rowlist_{{group.id}}' class="groupListRows" ng-click="groupDetail(group.id)">
         <div class="col-sm-2 col-xs-3 hidden-lg hidden-md" ><span>Name:</span></div>
         <div class="col-md-3 col-xs-9 col-sm-10" ><a ng-bind="group.name"></a></div>
         
         <div class="col-sm-2 col-xs-3 hidden-lg hidden-md" ><span>Type:</span></div>
         <div class="col-md-3 col-xs-9 col-sm-10" ng-bind="group.private ? 'Private' : 'Public'" ></div>
         
         <div class="col-sm-2 col-xs-3 hidden-lg hidden-md" ><span>#Members:</span></div>
         <div class="col-md-3 col-xs-9 col-sm-10" ng-bind="group.memberCount" >1</div>

         <div class="col-sm-2 col-xs-3 hidden-lg hidden-md" ><span>Categories:</span></div>
         <div class="col-md-3 col-xs-9 col-sm-10" ng-bind="group.categoryListStr"></div>
       
     </div>
    </div>
</div>
</div>
