<div ng-include src="'partials/Navigation.html'"></div>

<div ></div>


<div class="row col-md-12">
    <div class="center-block">    
        <h3 ng-bind="currentGroup.name"></h3>
    </div>

    
    <div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span ng-bind="currentGroup.description"></span>
    </div>
        

</div>
<div class="center-block mrgT10"> 
<button ng-class="!currentGroup.currentUserIsInGroup ? 'btn btn-success' : 'btn btn-default'" ng-mouseover="currentGroup.hover('Leave')" ng-mouseleave=" currentGroup.hover(currentGroup.currentUserIsPending ? 'Pending' : 'Member')" ng-bind="currentGroup.currentUserIsInGroup ?(currentGroup.currentUserIsPending ? 'Pending' : 'Member') : 'Join'" ng-click="!currentGroup.currentUserIsInGroup ? joinToGroup(currentGroup.id) : group.leave()" style="width: 80px" class="ng-binding btn btn-success">Join</button>
</div>

<div ng-show=" !currentGroup.private|| (currentGroup.private&& !currentGroup.currentUserIsPending)">
    
   <!-- <div ng-bind-html="someSafeContent"></div> -->
    <!-- newsfeed
        <div class="row">    
            <div class="center-block">
                <h2 class ="green block-header">News feed</h2>
            </div>	
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 news-feed">
                
                <textarea class="form-control" placeholder="Write Your Message Here..." id="news-feed-message"></textarea>
                <input type="button" value="Post" class="btn btn-lg btn-success" ng-click="postMessageToNewsFeed()"/>
			    
            </div>
        
        </div>
        -->
    <!--  Posts 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12 news-feed">
    <div class="row" ng-repeat="post in news">    
        <div class="center-block">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <p ng-bind-html="post.body"></p>
               
            </div>
        </div>	
    </div>
    </div>
    
    -->
    
   

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" id="groupmembers">
        <h2 class="green block-header">
            Group Members</h2>
        <div class="row">
            <div class="favorite-list-container">
                   
                           
                <div ng-repeat="buddy in invitation.UserBuddies"  class="row">
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2"><img ng-src="{{SP}}/Profile/GetAvatar?username={{buddy.email}}" alt="Member photo" class="small-avatar"> </div>
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6"> <h5>{{buddy.firstName}} {{buddy.lastName}}</h5> 
                        <p>  {{buddy.city}}, {{buddy.state}} </p>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                        <div id="btn-{{buddy.id}}" ng-show="!buddy.isInvitedByUser&&!buddy.isInvitedByFriend&&!buddy.isApproved">
                            <button class="btn btn-success" ng-click="addBuddy(buddy.email, buddy.id)">Add Buddy</button>
                        </div>
                        <div id="buddymes-{{buddy.id}}"></div>
                        <div ng-show="buddy.isInvitedByUser">Your buddy request was sent</div>
                        <div ng-show="buddy.isInvitedByFriend"><span style="color: green;">{{buddy.firstName}} {{buddy.lastName}}</span> invited you to join as a buddy</div>
                        <div ng-show="buddy.isApproved">Your buddy request to <span style="color: green;">{{buddy.firstName}} {{buddy.lastName}}</span> was  approved</div>
                                     
                    </div>
                </div>
                      
                              
              
            </div>
                
        </div>
    </div>
</div>


