<div ng-include src="'partials/Navigation.html'"></div>
<div>
<div class="row hidden-lg hidden-md hidden-sm" style="margin-top: -10px;">
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 center-text picto-width">
        <a href="#/buddies" class="btn btn-lg color-picto btn-block otstyp-for-button">
            <img class="picto" src="imgs/buddies.png" />
        </a>
        <span class="menu-buttonsfont12">Buddies</span>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 center-text picto-width" >
        <a href="#/courses" class="btn btn-lg color-picto btn-block otstyp-for-button ">
            <img class="picto" src="imgs/courses.png" />
            
        </a>
        <span class="menu-buttonsfont12">Courses</span>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 center-text picto-width">
        <a href="#/groups" class="btn btn-lg color-picto btn-block  otstyp-for-button">
            <img class="picto" src="imgs/groups.png" />
        </a>
        <span class="menu-buttonsfont12">Groups</span>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 center-text picto-width">
        <a href="#/manageInvitations" class="btn btn-lg color-picto btn-block  otstyp-for-button">
            <img class="picto" src="imgs/invitations.png" />
            <div class ="count-required-response"><h6 class="textsize"><b class="text-color-b">{{countResponses}}</b></h6></div>
            <div class ="count-total-invitation "><h6 class="textsize"><b class="text-color-b">{{countInvitation}}</b></h6></div>
        </a>
        <span class="menu-buttonsfont12">Invitations</span>
    </div>
<!--
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <a href="#/scores" class="btn btn-lg btn-warning btn-block  otstyp-for-button" >
            <img src="imgs/scores.png" />
            Scores</a>
    </div>
    -->
		
</div>

<div class="row"  ng-controller="MutFriendsCtrl">
    <div class="center-block">
    <h4>Golfers You May Know</h4>
        
        <div class="col-lg-4 col-md-4 hidden-sm"></div>
        <div class="find-golfers col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
            <!--<div class=" " style="height: 140px; display: inline-flex;" >
                    <div ng-repeat="buddy in mutualFriends" class="mrT20"  style="    float: left;
    width: 150px;    height: 140px;">
                        <div class="buddy " >
                            <a class="close " ng-click="RemoveGolferFromSection()">
                                &times;</a>
                            <div class="avatar col-md-2">
                                <img  ng-src="{{SP}}/Profile/GetAvatar?username={{buddy.golfer.username}}" alt="avatar" class="small-avatar"/> 
                            </div>
                            <div class="col-md-8">
                                <div>{{buddy.golfer.firstName}} {{buddy.golfer.lastName}}</div>
                                <div style="width: 100%">{{buddy.commonFriendsCount}} Mutual Golfers </div>
                                <button title="Add Buddy" type='button' class='btn btn-success' ng-click="AddGolferToFriends()" ng-hide="buddy.Invitation">
                                    Add Buddy</button>      <div ng-show="buddy.Invitation" >Invite was sent</div>
                            </div>
                          
                            <div class="col-md-2" >
                                 
                        
                            </div>
                        </div>
                    </div>
                </div>-->
           
                <div id="slick">
                    <div ng-repeat="buddy in mutualFriends"  style="width: 150px;    height: 140px;">
                        <div class="buddy " >
                            <a class="close " ng-click="RemoveGolferFromSection()">
                                &times;</a>
                            <div class="avatar col-md-2 col-lg-12">
                                <img  ng-src="{{SP}}/Profile/GetAvatar?username={{buddy.golfer.username}}" alt="avatar" class="small-avatar"/> 
                            </div>
                            <div class="col-md-8 col-lg-12">
                                <div>{{buddy.golfer.firstName}} {{buddy.golfer.lastName}}</div>
                                <div style="width: 100%">{{buddy.commonFriendsCount}} Mutual Golfers </div>
                                <button title="Add Buddy" type='button' class='btn btn-success' ng-click="AddGolferToFriends()" ng-hide="buddy.Invitation">
                                    Add Buddy</button>      <div ng-show="buddy.Invitation" >Invite was sent</div>
                            </div>
                          
                            <div class="col-md-2" >
                                 
                        
                            </div>
                        </div>
                    </div>
                </div>
         
        </div>
     

        </div>
</div>
    </div>


<!-- <div class="row" ng-controller="BuddiesCtrl">  
        <div class="messageHome">

            <div class="messageHomeForDirect">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
           <div class="green" style="font-weight: normal;font-size: 20px;color: #66AE64;" > Direct messages</div>
                </div>
                <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10">
       <div class="unread-messages-count" ng-show=" countIncomingMessage > 0">
			<h6 class="textsize"><b>{{countIncomingMessage}}</b></h6>
		</div>	
                     </div>
                </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="buddies-container SkrolForBuddies" >
	        <div class="item row" ng-repeat="NewBuddy in countmessageAndBuddies" user-id="{{NewBuddy.buddyId}}">
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
			<img ng-src="{{getAvatar(NewBuddy.buddy.email)}}" alt="Alternate Text" class="img-avatar">
		</div>
		<div class="is-online col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-switch on="NewBuddy.buddy.isOnline">
			<div ng-switch-when="true">
				<img src="imgs/online.png">
			</div>
			<div ng-switch-when="false">
				<img src="imgs/offline.png">
			</div>
			
		</div>
		
		<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
			<a href="#/chat?userId={{NewBuddy.buddyId}}&firstName={{NewBuddy.buddy.firstName}}&lastName={{NewBuddy.buddy.lastName}}" class="buddy-name">{{NewBuddy.buddy.firstName}} {{NewBuddy.buddy.lastName}}</a>
		</div>
		<div class="unread-messages-count" ng-show="NewBuddy.count > 0">
			<h6 class="textsize"><b>{{NewBuddy.count}}</b></h6>
		</div>	

	</div>
</div>
                </div>
            </div>
        </div>
         </div>-->

<div ng-include src="'partials/SocialButtons.html'"></div>

    
<!-- NEWS FEED
    <div class="row">    
        <div class="newsfeed">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 news-feed">
                <h2 class ="green block-header">News feed</h2>
                <textarea class="form-control" placeholder="Write Your Message Here..." id="news-feed-message"></textarea>
                <input type="button" value="Post" class="btn btn-lg btn-success pull-left" ng-click="postMessageToNewsFeed()"/>
			    
            </div>
        </div>	
    </div>
			
    <div class="row">
        <div class="conteiner-block">
            <div ng-repeat="getPost in model.postAndNewsCollection" >
                <div ng-switch="daterminateLogo(getPost.body)" class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                    <img ng-switch-when="SocialputtsLogo" ng-src="{{SP}}/Content/images/logo-short.png" alt="Alternate Text" class="avatar-block img-responsive">

                    <img ng-switch-when="courseAvatar" ng-src="{{SP}}/Course/GetCourseImageMobile?courseId={{daterminateCourseId(getPost.body)}}" alt="Alternate Text" class="avatar-block img-responsive">
 
                    <img ng-switch-default ng-src= "{{getAvatar(getPost.author.email)}}" alt="Alternate Text" class="avatar-block img-responsive">
                </div>

                <div class ="col-xs-9  col-sm-10 col-md-11 col-lg-11 ">

                    <div class ="col-xs-9  col-sm-10 col-md-11 col-lg-11  green">
                        <b ng-show ="getPost.isCommon != true">{{getPost.author.firstName}}  {{getPost.author.lastName}}</b>

                        <a ng-show ="isShowRemoveButton(getPost)"
                           class="close remove-post" 
                           ng-click="removePost(getPost.id)">x
                        </a>
                    </div>

                    <div class ="col-xs-9  col-sm-10 col-md-11 col-lg-11 otstyp" ng-hide="val">
                        <div ng-bind-html-unsafe="getPost.body"></div>
                    </div>

                    <div class ="col-xs-12  col-sm-10 col-md-11 col-lg-11 editComment"  ng-hide="!val">
                        <textarea class="form-control" ng-model="getPost.body"></textarea>                                        
                        <input type="button" value="Save" class="add-comment-left btn  btn-success"  ng-click="editpost(getPost.body,getPost.id)" />
                        <input type="button" value="Close" class="add-comment-left btn"  ng-click="val=false"/>
                    </div>

                    <div class ="col-xs-9  col-sm-10 col-md-11 col-lg-11 otstyp" >
                        <h6><b>{{getPost.createdAt}} | 
                                <a href ng-click="value = true">Comment</a> <span ng-hide="!checkingCurent(getPost.authorId)"> | <a href ng-click="val = true">Edit</a></span>  </b></h6>
                    </div>
                                   
                    <div ng-repeat="comment in getPost.comments"  class="repeatComment">
                                             
                        <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                            <img ng-src="{{getAvatar(getPost)}}" alt="Alternate Text" class="avatar-block img-responsive">
                                         
                                        
                        </div>
                                     
                        <div class ="col-xs-9  col-sm-9 col-md-10 col-lg-10 otstyp">
                            <div class ="col-xs-12  col-sm-9 col-md-10 col-lg-10 green">
                                <b>{{comment.author.firstName}}  {{comment.author.lastName}} {{comment.lastName}}</b>
                                <a class="close remove-post" ng-hide = "!checkingCurent(comment.authorId)" ng-click="removeComment(comment.id)">x</a>
                            </div>
                               
                            <div class ="col-xs-12  col-sm-9 col-md-10 col-lg-10 otstyp" ng-hide="valComment">
                                <b>{{comment.body}}</b>
                            </div>
                                          
                            <div class="col-sm-12 col-xs-12 editComment" ng-hide="!valComment">
                                <textarea class="form-control" ng-model="comment.body"></textarea>
                                <input type="button" value="Save" class="add-comment-left btn  btn-success"  ng-click="editCommentforPost(comment.body,comment.id)"/>
                                <input type="button" value="Close" class="add-comment-left btn"  ng-click="valComment=false"/>
                            </div>


                            <div class ="col-xs-12  col-sm-9 col-md-10 col-lg-10 otstyp">
                                <h6><b>{{comment.createdAt}} <span ng-hide="!checkingCurent(comment.authorId)">| <a href ng-click="valComment = true">Edit</a></span> </b></h6>   
                            </div>
                        </div>
                    </div>
                                    
                    <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 add-comment" ng-hide="!value">
                        <textarea class="form-control" placeholder="Add comment here..." ng-model="commentBody" ></textarea>
                        <input type="button" value="Add comment" class="add-comment-left btn  btn-success"  ng-click="addComment(commentBody,getPost.id)"/>
                        <input type="button" value="Close" class="add-comment-left btn"  ng-click="value=false"/>
                    </div>
                                        
                </div>
            </div>
        </div>
        <div class="buttonPosition">
            <input type="button" class="btn  btn-success pull-left " id="previousButton" value="Previous" ng-click="previous()">	
            <div class="pageCount"><div class="textPageCount"> <h4>	 Page:{{numberPage}}/{{countPages}}</h4>	</div></div>
            <input type="button" class="btn  btn-success btn-left" id="nextButton" value="Next"  ng-click="next()">
        </div>
    </div>
    -->


