 
            <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4"> </label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    SocialPutts would like post to Facebook for you.
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-lg-offset-4 col-lg-10 col-md-offset-4 col-sm-offset-4">
                <input type="button" class="btn btn-success btn-lg" value="Not now" ng-click="NotNow()"/>
                <input type="button" class="btn btn-success btn-lg" value="Ok" ng-click="PostInFaceBook()"/>
            </div>
         