<div class="form-group">
    <label class="control-label col-lg-4 col-md-4 col-sm-4">
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <img ng-src="{{getImageData()}}" />
        <div class="clearfix">
        </div>
        Allow 'SocialPutts' to send you Push Notification about opportunities to play golf
        and special deals?
    </div>
    <div class="clearfix"></div>
</div>
<div class="form-group">
    <div class="col-lg-offset-4 col-lg-10 col-md-offset-4 col-sm-offset-4">

        <input type="button" class="btn btn-success btn-lg" value="Dont Allow" ng-click="DontAllow()" />
         <input type="button" class="btn btn-success btn-lg" value="Allow" ng-click="Allow()" />
    </div>
</div>
