<div ng-include src="'partials/Navigation.html'"></div>

<div class="row center-block">
    

</div>

<div class="row center-block">
    <a class="btn btn-lg" href="index.html#/logscores">  <button class="btn btn-lg">Log a Score </button></a>
</div>


<div class="row">
    <div class="row">
   
        <div class="col-md-12">
            <h4>Scores</h4>
            </div>

   </div>
    <div class="row"> 
        <div class="col-md-4">
            <p>Date</p>
        </div>
        <div class="col-md-4">
            <p>Course</p>
        </div>
        <div class="col-md-4">
            <p>Score</p>
        </div>

</div>
</div>


<div class="row">
    <div class="row">
   
        <div class="col-md-12">
            <h4>Buddies' Scores</h4>
            </div>

   </div>
    <div class="row"> 
        <div class="col-md-3">
            <p>Date</p>
        </div>
        <div class="col-md-3">
            <p>Name</p>
        </div>
        <div class="col-md-3">
            <p>Course</p>
        </div>
        <div class="col-md-3">
            <p>Score</p>
        </div>

</div>
</div>