<div class="row">
		<div class="center-block">
		<!--	<h3>Invite your Buddies to Joins SocialpPutts TODAY!</h3>-->
			<div class="row social-buttons">
				<a class="btn btn-lg btn-primary" ng-click="inviteFbFriends($event)">Facebook</a>
				<a class="btn btn-lg btn-danger" href="mailto:?Subject=Invitation:Please be my Golf Buddy on SocialPutts!&body=Hi,
    %0D%0A%0APlease click the link below to accept by invitation to be my Golf Buddy on SocialPutts, the world's first Golf-specific Social Network.
    %0D%0A%0A 
        {{tinyUrl}}%0D%0A%0ASocialPutts allows us to:
    %0D%0A%0A
        - Fill our Foursome, get a Discount!
    %0D%0A%0A
        - Invite buddies, accept invitations, and book tee times EASILY.
    %0D%0A%0A
        - Find new golf buddies to play with more golfers like us!
    %0D%0A%0A
        - Play unique golf events, book tee times, post our scores and see how we stack up!
    %0D%0A%0A
        - Play golf more often and have more fun!%0D%0A%0A
    -   Web or Mobile app (Coming Soon!)
    %0D%0A%0A
        - All for FREE!%0D%0A%0AJoin me to be a part of the SocialPutts Golf Revolution!
    %0D%0A%0A 
        {{tinyUrl}}
    %0D%0A%0AYour Golf Buddy,
    %0D%0A%0A @ViewBag.UserName
    %0D%0A%0AFacebook: 
        https://www.facebook.com/SocialPutts
    %0D%0A%0ATwitter: 
        http://twitter.com/socialputts">Gmail</a>
				<a type="button" class="btn btn-lg btn-info" href="#" ng-click="inviteTwitterFriends($event)">Twitter</a>
			</div>
			
	        </div>
        </div>


