<div style="position: relative; width: 100%; height: 100%; text-align: center;">
    <div class="back-buton" ng-click="goToPage('/welcome')"></div>
    <div id="imgCtr" style="line-height: 0px;">
        <img src="../www/img/logo.png" style="vertical-align: middle; width: 75vmin;" />
    </div>

    <div id="content-ctr" class="content-container" style="color: white;">
        <div class="gray-line"></div>
        <p style="padding: 5px">
            <p>IMPORTANT - PLEASE READ CAREFULLY</p>
            1. Terms & Conditions for the ClaimRide Prepaid Debit Card Program (the "Card Program")
            This document constitutes the agreement ("Agreement") outlining the terms and conditions under
            which a  Prepaid Debit Card has been issued to you. By accepting and using a Card, you agree
            to be bound by the terms and conditions of this Agreement. The Card is a prepaid debit card. The Card
            allows you to access funds you place on the Card. The Card does not constitute a checking, savings or
            other bank account and is not connected in any way to any other account you may have. The Card is
            not a credit card. You will not receive any interest on your funds on the Card. The Card will remain the
            property of Holders Bank and must be surrendered upon demand. The Card is nontransferable, and it
            may be canceled, repossessed, or revoked at any time without prior notice subject to applicable law.
        </p>
        <div class="gray-line"></div>
        <div class="clearfix"></div>
        <div class="btn-get-started" ng-click="agreementAccepted || setAgree(); goToPage('/welcome')">
            <span ng-show="!agreementAccepted">Acknowledge</span>
            <span ng-show="agreementAccepted">Already Acknowledged</span>
        </div>
    </div>
    <div class="clearfix"></div>
    
</div>
