<div style="position: relative; width: 100%; height: 100%; text-align: center;">
    <div class="back-buton" ng-click="goToPage('/welcome')"></div>
    <div id="imgCtr" style="line-height: 0px;">
        <img src="../www/img/logo.png" style="vertical-align: middle; width: 75vmin;" />
    </div>

    <div id="content-ctr" class="content-container" style="color: white;">
        <div class="gray-line" ng-show="reminderBoxShow"></div>
        <div ng-show="reminderBoxShow" style="width: 70%;margin: 0 auto;border: 1px solid gray; border-radius: 20px;padding: 20px;">
            Please update your ride share provider with your virtual credit card
            <div ng-click="reminderBoxHide()" style="color: #EB5767; text-decoration: underline; text-align: right;">
                Dismiss
            </div>
        </div>
        <div class="gray-line"></div>
        <div class="app-status-container">
            <p>Choose Ride Share Service</p>
            <div class="float-left">
                <div class="btn-app-status" ng-class="getAppStatusClass(lyftIsInstalled)" ng-click="selectApp('Lyft')">
                    <div>
                        <img src="./../www/img/lyft-logo.png" />
                    </div>
                </div>
            </div>
            <div class="float-right">
                <div class="btn-app-status" ng-class="getAppStatusClass(uberIsInstalled)" ng-click="selectApp('Uber')">
                    <div>
                        <img src="./../www/img/uber-logo.png" style="height: 1.8vh; width: auto" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="btn-get-started" ng-click="goToPage('/')">
            Home
        </div>
    </div>
    <div class="clearfix"></div>
    
</div>
