<div class="input-container">

    <select id="isS">
        <option value="" default selected>Choose Carrier</option>
        <option value="1">LINKS INSURANCE SERVICE</option>
        <option value="2">LINKS INSURANCE SERVICE 2</option>
    </select>

    <br />

    <input type="text" id="polNumber" name="policyNumber" placeholder="Policy Number">

    <input type="text" id="prInshured" name="prInshured" placeholder="Primary Inshured">

    <input type="text" id="zipCode" name="zipCode" placeholder="Billing ZipCode" ng-model="pageName">

    <div class="clearfix"></div>

    <!--    <span ng-show="!lyftAvailable">Lyft not found</span> <button ng-disabled="lyftAvailable" ng-click="installApp('lyft')">Install Lyft</button>-->
    <!--    <br>-->
    <!--    <span ng-show="uberAvailable">Uber found</span> <button ng-disabled="uberAvailable" ng-click="installApp('uber')">Install Uber</button>-->
    <div style="    padding: 0 15px;">
        <div class="btn-app-status" ng-class="getAppStatusClass(lyftIsInstalled)">Install
            <img src="./../www/img/lyft_logo.png" width="70px" /></div>

        <div class="btn-app-status float-right" ng-class="getAppStatusClass(uberIsInstalled)">Install U
            <img src="./../www/img/uber_logo.png" width="70px" /></div>
    </div>
    <!---->
    <!--    <p>(4) Install Ride Share Application</p>-->
    <!--    <div class="btn btn-success two-line-btn float-right" ng-click="goToPage()">Confirm registration</div>-->
    <!--    {{uberAvailable}}-->
    <!--    {{lyftAvailable}}-->
    <!--    -->
    <!--    <div class="btn btn-warning" ng-click="init()">Init</div>-->
    <!--    <br />-->
    <!--    <div class="btn btn-danger" ng-click="updateStatus()">UpdateStatus</div>-->
    <!--    -->
    <!--    <br/>-->
    <!--    <div class="btn btn-success two-line-btn" ng-click="goToPage('/benefit')">Benefit</div>-->

    <div class="clearfix"></div>
    <div class="btn-get-started">
        Get Started
    </div>
</div>
