<div style="position: absolute; width: 100%; bottom: 0px; text-align: center; padding-top: 25px;">
    <div id="imgCtr" style="line-height: 0px;">
        <img src="../www/img/logo.png" style="vertical-align: middle; width: 70%" />
    </div>

    <div id="content-ctr" style="color:#fff; ">
        <div class="input-container">
            <div style="text-align: left; margin-bottom: 10px">
                <span style="font-size: 1.3em" class="info-icon">Your information:</span>
                <span class="float-right" style="color: #EB5767; font-size: 0.8em ;text-decoration: underline">Edit Information</span>
            </div>
            <div class="clearfix"></div>
            <table style="text-align: left;">
                <tr >
                    <td style="width: 40vw; color: #00BDBD;">Carrier:</td>
                    <td>Link Insurance Services</td>
                </tr>
                <tr>
                    <td style="width: 40vw; color: #00BDBD;">Policy Number</td>
                    <td>3717-526617-04099</td>
                </tr>
                <tr>
                    <td style="width: 40vw; color: #00BDBD;">Billing Zipcode</td>
                    <td>30033</td>
                </tr>
            </table>
        </div>

        <div class="gray-line"></div>

        <div class="input-container" style="margin-bottom: 20vh">
            <div style="text-align: left; margin: 20px 0 10px 0">
                <span style="font-size: 1.3em" class="benefit-icon">Benefit Summary:</span>
            </div>
            
            <table style="text-align: left;">
                <tr>
                    <td style="width: 40vw; color: #00BDBD;">Daily Limit:</td>
                    <td>$30.00</td>
                </tr>
                <tr>
                    <td style="width: 40vw; color: #00BDBD;">Max Coverage</td>
                    <td>$300.00</td>
                </tr>
                <tr>
                    <td style="width: 40vw; color: #00BDBD;">Available Balance</td>
                    <td>$300.00</td>
                </tr>
            </table>
        </div>

        <div class="clearfix"></div>
        <div class="btn-get-started" ng-click="goToPage('/')">
            Request Ride
        </div>
        <div class="clearfix"></div>
    </div>
</div>
