<div style="margin: 2%" class="">
    <h1>Pay page</h1>
    <a href="#">Home</a>


    <label for="isS">Carrier</label>
    <select id="isS">
        <option value="1">LINKS INSURANCE SERVICE</option>
        <option value="2">LINKS INSURANCE SERVICE 2</option>
    </select>

    <label for="polNumber">Policy Number</label>
    <input type="text" id="polNumber" name="policyNumber" placeholder="Policy Number">

    <label for="prInshured">Primary Inshured</label>
    <input type="text" id="prInshured" name="prInshured" placeholder="Primary Inshured">

    <label for="zipCode">Zip Code</label>
    <input type="text" id="zipCode" name="zipCode" placeholder="Zip Code">

    <div class="clearfix"></div>
    <!--<div id="two-line-btn" class="btn btn-success two-line-btn">View Benefits Summary</div>-->
    <div class="btn btn-success two-line-btn float-right">Claim My Ride</div>
    <div class="btn btn-success two-line-btn" ng-click="goToPage('#/setup')">Create New Board</div>
    <br>
    <a href="#/">Main setup</a>
    <a href="#/welcome">welcome</a>
    
<!--    <br/>-->
<!--    <a href="itms-apps://itunes.apple.com/app/id368677368">To App Store</a>-->
</div>