<div style="position: absolute; width: 100%; bottom: 0px; text-align: center; padding-top: 25px;">
    <div id="imgCtr" style="line-height: 0px;">
        <img src="../www/img/logo.png" style="vertical-align: middle; width: 75vmin;" />
    </div>

    <div id="content-ctr" style="color:#fff; ">
        <div class="input-container">
            <div style="text-align: left; margin-bottom: 10px">
                <span style="font-size: 1.3em" class="info-icon">Your information:</span>
                <span class="float-right" style="color: #EB5767; font-size: 0.8em ;text-decoration: underline">Edit Information</span>
            </div>
            <div class="clearfix"></div>
            <div class="table-info">
                <div class="row-info">
                    <span>Carrier:</span>
                    <span>Link Insurance Services</span>
                </div>
                <div class="row-info">
                    <span>Policy Number</span>
                    <span>3717-526617-04099</span>
                </div>
                <div class="row-info">
                    <span>Billing Zipcode</span>
                    <span>30033</span>
                </div>
            </div>
        </div>

        <div class="gray-line"></div>

        <div class="input-container" style="margin-bottom: 15%">
            <div style="text-align: left; margin: 20px 0 10px 0">
                <span style="font-size: 1.3em" class="benefit-icon">Benefit Summary:</span>
            </div>
            
            <div class="table-info">
                <div class="row-info">
                    <span>Daily Limit:</span>
                    <span>$30.00</span>
                </div>
                <div class="row-info">
                    <span>Max Coverage</span>
                    <span>$300.00</span>
                </div>
                <div class="row-info">
                    <span>Available Balance</span>
                    <span>$300.00</span>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="btn-get-started" ng-click="goToPage('/')">
            Request Ride
        </div>
        <div class="clearfix"></div>
    </div>
</div>
