/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background: url(../img/background.png) no-repeat center top;
    background-color: #242A34;
    background-size: 100% auto;
    background-attachment: fixed;
    background-size: contain;
    background-position: top left;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 4vmin;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*text-transform: uppercase;*/
    width: 100%;
}

/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}


@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.two-line-btn {
    white-space: normal;
    width: 100px;
    display: inline-block !important;
    margin: 0 2% 0 2%;
}

.main-container {
    width: 100%;
    height: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}




.responsive-container {
    position: relative;
    width: 100vw;
    border: 1vw solid white;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* Align center inline elements */
    font: 0/0 a;
}

    .img-container .centerer {
        display: inline-block;
        vertical-align: middle;
        height: 100vh;
    }

    .img-container img {
        vertical-align: middle;
        display: inline-block;
    }





.input-container {
    width: 90%;
    margin: 0 auto 20px;
}

    .input-container input {
        border: 0px;
        background: rgba(49, 55, 64, 0.7);
        display: flexbox;
        width: 100%;
        border-radius: 0px;
        font-size: 1em;
        display: block;
        margin: 10px auto;
        padding: 20px;
        color: white;
        box-sizing: border-box;
        height: 10vw;
    }

.select-container select {
    border: 0px;
    background: rgba(49, 55, 64, 0.7);
    display: flexbox;
    width: 100%;
    border-radius: 0px;
    font-size: 1em;
    display: block;
    margin: 10px auto;
    padding: 4px 20px 5px 20px;
    color: white;
    height: 10vw;
}


select {
    -webkit-appearance: none;
    /*border-radius: 3px;*/
    /*border: 1px solid #aaaaaa;*/
    background: url(../img/select-img.png), -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee));
    /*background-repeat: no-repeat, repeat;*/
    /*background-size: 30px, 100%;*/
    /*background-position: right center, left top;*/
    letter-spacing: 0em;
    vertical-align: middle;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-container {
    position: relative;
}

    /* Select arrow styling */
    .select-container:after {
        content: "";
        position: absolute;
        top: 3.5vw;
        right: 5px;
        bottom: 0;
        font-size: 1em;
        line-height: 30px;
        padding: 0 30px;
        background: url(../img/select-img.png) transparent no-repeat;
        background-size: 34px 17px;
        pointer-events: none;
    }


.info-icon:before {
    content: "";

    font-size: 0.87em;
    padding: 0 3vmin;
    background: url(../img/info-icon.png) transparent no-repeat;
    background-size: 5vmin 5vmin;
    pointer-events: none;
}

.benefit-icon:before {
    content: "";

    font-size: 0.87em;
    padding: 0 3vmin;
    background: url(../img/benefit-icon.png) transparent no-repeat;
    background-size: 5vmin 5vmin;
    pointer-events: none;
}


select:focus::-ms-value {
    background: #FFFFFF;
    color: #666666;
}

option[default] {
    display: none;
}

.app-status-container {
    width: 90%;
    margin: 0 auto;
}

    .app-status-container p {
        color: #fff;
        margin: 20px 0 15px 0;
    }

    .app-status-container > div {
        width: 45%;
        height: 15vh;
    }


.btn-app-status {
    border-radius: 30vh;
    border: 1px solid #00BDBD;
    text-align: center;
    font-weight: 500;
}

.app-status-installed {
    color: #92959A;
}

.app-status-notinstalled {
    color: white;
    background: #00BDBD;
}

.btn-app-status img {
    height: 7vh;
    width: auto;
    max-width: 13vw;
    max-height: 7vh;
}

.spn-container {
    height: 6vh;
    position: relative;
}

span.app-found-icon {
    color: #fff;
    margin: 0px;
    padding: 1vmin 0 0 30px;
    background: url(../img/app-found.png) no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    bottom: 1px;
}

.btn-get-started {
    background: #EB5767;
    border-radius: 30vh;
    width: 82%;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 3vmin;
    font-weight: 500;
    cursor: pointer;
    margin: 1vh auto 3vh;
}


* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

.gray-line {
    width: 100%;
    background-color: gray;
    height: 1px;
}


.table-info {
    text-align: left;
    border-collapse: separate;
    border-spacing: 1vh;
    width: 100%
}

@media screen and (max-width: 500px) {
    .btn-app-status {
        font-size: 1em;
        padding: 1vh;
    }

        .btn-app-status img {
            height: 8vw;
            max-width: 12vw;
        }

    .app-status-container > div {
        height: 14vh;
        
    }
}
