body
{
	padding-top: 20px;
}

.header-wrap {
    position: fixed;
    height: 20px;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: white;
}
.containerForpost
{
padding-top:60px;
width:auto;
height:auto;
}

.page-container
{
	max-width: 100%;
	margin: 0 auto;
}

footer 
{
    min-height: 50px;
    clear: both;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-color: #75A975;
    padding: 20px;
}

section#content 
{
    padding-bottom: 150px;
    overflow: visible;
}

#head 
{
	width: 100%;
}


.divider
{
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.dashboard-btns
{
	margin-bottom: 5%;
	line-height: 60px;
}

.center-block
{
	display:block;
	margin: 0 auto;
	text-align:center;
}
.social-buttons
{
	margin-bottom: 20px;
}

.news-feed
{
	margin-bottom: 20px;
}

.news-feed textarea
{
	margin-bottom: 20px;
}

#map
{
	width:100%;
	height: 300px;
}

.addToFavsIcon
{
	background-image: url('../imgs/favorite.png');
	display: block;
	width: 32px;
	height: 45px;
}

.favorite-container, .searched-course-result
{
	margin-bottom: 30px;
}


.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
  
  
/*Fill Your Foursome page ================================================================================== */
h2.green 
{
    font-weight: normal;
    font-size: 20px;
    color: #66AE64;
}

.mode-container 
{
    float: right; 
}

.mode-container input 
{    
    margin-left: 10px;
}

.create-invitation-form .control-label .pt0
{    
    padding-top: 0! important;
}

.create-invitation-form .checkbox
{ 
    margin-right: 20px;
} 

.checkbox-group .checkbox span
{
    float: none;
    white-space: nowrap;
}

.checkbox-group .checkbox 
{
    float: left;   
    cursor: pointer;
}

.checkbox-group .first 
{
    padding: 0;
}

.form-group .controls 
{
    width: auto !important; 
}

 .group-select   
 {
    padding-left: 0;
    padding-right: 0px; 
    width: 100%;
}

#invt-pending 
{
    
}

#indent-select-buddies 
{
    width: 20.5%;
}

#indent-create-invitation 
{
    width: 18.7%;
}

#indent-golfer-match 
{
    width: 18.7%;
}

#indent-select-buddies-topic 
{
    width: 19.5%;
}

.disabled-section{
	background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;
}

.buddy
{
	overflow:hidden;
	margin-bottom: 10px;
}

.avatarNew
{
	
	max-width:55px;
	margin-left: 30px;
	float:left;
}

img.small-avatar
{
	min-width: 40px;
	min-height: 40px;
	max-width: 60px;
	max-height: 60px;
	border-style: solid;
	border-color: #D1E7D1;
	border-color: #53a753;
	border-width: 1px;
	margin-right: auto;
	margin-left: auto;
    margin-top: 7px;
	
}
img.small-chat-avatar{
	max-width: 60px;
	max-height: 60px;
	border-style: solid;
	border-color: #D1E7D1;
	border-color: #53a753;
	border-width: 1px;
}

.buddy .name
{
	/*width: 59%;*/
    margin-left: 3%;
}

#buddies-list{
	border: 2px solid #ccc;
	padding: 2%;
	margin-left: 10px;
}
.include-golfers{
	color:green;
}

.asterisk{
	color:red;
	font-size: 20px;
	line-height: 2em;
}

.course-finder{
	margin-bottom: 1em;
}
.course-finder-title {
      width: 170px;
    float: left;
    margin-left: 17px;  
}

/*Fill Your Foursome end-page ================================================================================== */

/*Buddies styles*/
.buddies-container .item{
	margin-bottom: 5%;
}

.buddy-name{
	font-size: 1.5em;
}

.unread-messages-count {
	float:left;
	background: red;
	border-radius: 15px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 16px;
	color: white;
}

.buddies-container .img-avatar{
	width: 100%;
	min-width: 60px;
	max-width: 80px;
}

/*Buddies end* --------------------------------------------------------------------------------------------------------/


/*Chat styles*/
.opposit{
	margin-bottom:5%;
}
.message{
	margin-bottom:5%;
	padding-right: 5%;
	overflow: hidden;
}
.text-message-field{
	margin-top:5%;
}
.send-control{
	margin-top: 1%;
}

/*Chat end ----------------------------------------------------------------------------------------------------------------*/

/*Invite Buddies*/
.invite-buddies-container{
	overflow: hidden;
	padding: 5%;
	border: 1px solid green;
	border-radius: 10px;
	margin-top:5%;
}
.send-email-message{
	color:green;
	margin-bottom: 5%;
}
.container{
	overflow:hidden;
}
.remove-button{
	margin-top:-35px;
}
.buddy-info{
	margin-bottom:5%;
}
.input-validation-error {
	border-color: #CC0000;
}
/*Invite Buddies end --------------------------------------------------------------------------------------------------------*/

/*Favorite Course*/
.favorite-courses h2{
	color:green;
}
.course-item{
	margin-bottom:3%;
	overflow:hidden;
}
/*Favorite Course end ---------------------------------------------------------------------------------------------------------*/

/*Course Result*/
.popup-info .course-name{
	color:green;
}
.popup-info .course-info{
	overflow:hidden;
	margin-bottom:10px;
}
.popup-info .course-info .info div{
	font-size:16px;
	color:gray;
	font-weight:bold;
}
.popup-info .course-info .info div span{
	color:green;
	font-size:16px;
}
.popup-info .image{
	width:80px;
	margin-right: 10px;
}
.popup-info .image img{
	width:100%;
}
.legend {
    width: 90%;
    height: auto;
    margin: 9px auto;
}
.legend-item-image {
    width: 20px;
    height: 20px;
}
.btn-select {
    background-image: url("../imgs/SP_crosshairs.png");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
        background-size: contain;
}
.best-price {

    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}
tbody>tr>td {
    padding: 1px;
}
.not-visual {
    display: none;
}

/*Course Result end ---------------------------------------------------------------------------------------------------------*/

/* Manage Invitations ---------------------------------------------------------------------------------------------------------*/

.invitation-item 
{    
    margin: 10px  0px 30px 10px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 15px 0px;
}

.invintatio-time 
{
    font-size: 13px;
    line-height: 18px;
    color: #404040;
}

 
.invitation-buttons
{
    padding-right: 0px;
} 

.img-avatar-invintation
{
    width: 70px;
    height: 70px;
}

#manage-responses-content{
	border: 1px solid #ccc;
	margin-top: 30px;
}

#manage-responses-content .block-header 
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1E7D1;
    margin-bottom: 15px;
}
 
#manage-responses-content .arrow-right
 {
    background-image: url(http://socialputts.com/Content/images/dashboard-collapse/arrow_right.png);
   height: 13px;
    width: 8px; 
    cursor: pointer; 
 }

#manage-responses-content .arrow-down
 {
    background-image: url(http://socialputts.com/Content/images/dashboard-collapse/arrow_down.png);
   height: 8px;
    width: 13px; 
    cursor: pointer; 
 }


.active-manage-invitation{
	background-color:#fff;
	border: 1px solid #ccc;
}
.confirm-user-item {
	overflow: hidden;
	margin-bottom: 5px;
}
.confirm-control{
	text-align: center;
}
/* Manage Invitations end ---------------------------------------------------------------------------------------------------------*/


/* Invitation Details */
.invitation-details-container{
	margin-left: 5%;
}
.invitation-detail, .participants{
	overflow: hidden;
}
/* Invitation Details end --------------------------------------------------------------------------------------------------------- */

/* Settings page -------------------------------------------------------------------------------------------------------------- */
.tabs{
	margin-top: 20px;
}
.tabs ul{
	list-style: none;
	color: gray;
	border-bottom: 1px green solid;
	padding:0;
	overflow: hidden;
	text-align: center;
}
.tabs ul li{
	display: inline-block;
	line-height: 25px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	width:32%;
	padding: 5px 0;
	padding:1% 0.5%;
}
.tabs ul li.active-menu-link{
	background-color: green;
	color: white;
}
.basic-info{
	margin:0 auto;
	width:80%;
}
.green{
	color:green;
}

.favorite-list{
	overflow: hidden;
}

.favorite-list .item{
	margin-bottom: 30px;
}

.allElementthis
{
width:100%;
height:40px;
}
.conteiner-block
{
width:100%;
height:auto;
margin-top:30px;
}

.post-block
{
min-height: 80px;
padding-top:10px;
padding-bottom:10px;
height:auto;
}

.avatar-block
{	
margin-left:auto;
margin-right:auto;
	width: 60px;
float: left;
}

.blockss
{
width:92%;
float: left;
margin-left: 10px;
}

.name-block
{
height:auto;
margin-left:15px;
text-align:left;


}

.message-body
{
margin-left:15px;
text-align:left;
width:auto;
}

.controlData
{
margin-left:15px;
margin-top:10px;
width:auto;
padding-bottom:20px;
}

.container
{
width:100%;
height:auto;
}

.allBlocks
{
height:auto;
width:100%;
}

.buttonPosition
{
margin-left:auto;
margin-right:auto;
width:350px;
}

.positionNext
{
float:right;
}

.pageCount
{
margin-top:-3px;
width:40%;
float:left;
text-align:center;
height:35px;
}

.textPageCount
{
text-align:center;
}

.add-comment
{
height:100px;
margin-bottom:20px;
}
.editComment
{
height:100px;
margin-top:20px;
margin-bottom:20px;

}


.add-comment-left
{
margin-right:20px;
margin-top:10px;
float:left;
}

.repeatComment
{
overflow: hidden;
width: 100%;
}


.post-control-divide {
margin-left: 5px;
margin-right: 5px;
display: block;
float: left;
}

.green-date {
cursor: pointer;
float: left;
font-size: 0.8em;
}

.message-body
{
margin-left:15px;
text-align:left;
width:auto;
min-width:120px;

}

.remove-post {
width: 10px;
float: right;
}

.otstyp
{
padding-bottom:10px;
}

.prop
{
float:right;
text-align:left;
}

.button-otstyp
{
margin-top:30px;
padding-top:10px;
}

.count-required-response {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 10px;
    line-height: 19px;
	float:right;
	margin-right:13px;
}

.count-total-invitation {
    position: absolute;
    right: -5px;
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 10px;
    line-height: 19px;
	float:right;
	margin-right:13px;
    text-align: center;
}

.otstyp-for-button
{
margin-bottom:5px;
}

.textsize
{
font-size: 14px;
margin-top: 3px;
margin-bottom: auto;
}


.messageHome
{
width: 100%;
height:auto;

}

.formessagename
{
width:30%;
height:auto;
}

.messege-direct
{
float:left;
}

.messageHomeForDirect
{
width: 100%;
height:auto;
overflow:hidden;
margin-top:40px;
margin-bottom:40px;

}
.SkrolForBuddies
{
overflow:auto;
height:200px;
}

/* Settings page end --------------------------------------------------------------------------------------------------------- */



/* Recommend Courses  page  ------------------------------------------------------------------------------------------------------------ */

 #steps .step 
 {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    background: gray!important;
    color: black !important; 
    float: left;
 }

#steps .right-arrow 
{
    float: left;
     width: 9%;
}

 #steps .current-step 
 {
     background: green!important;
     color: white !important;
 }
 
 #steps .done 
 {
    display: block;
    float: left;
    font-weight: bold;
    font-size: 18px;
    padding-top: 4px;
 }
 
 .select-fv-courses {
     height: 300px;
         overflow: auto;
     /*overflow-y: scroll;*/
         padding: 0 15px 0 0;
 }
 
 #steps .course-item 
 {
     width: 45px;
 }
/* Recommend Coursesend page END--------------------------------------------------------------------------------------------------------- */

.recommended-buddy 
{
    float: left;
        width: 99%;
}

.recommended-buddy img 
{
    margin-right: 10px;
}

.course-name 
{
    float: left;
    width: 70%;
}

.find-golfers {
    height: 160px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    overflow-x: auto;
    margin-bottom: 10px;
        overflow-y: hidden;
}

.autocomplete tr:hover {
    width: 100%;
    background-color: #51a351;
    cursor: pointer;
}

.autocompletediv {
   /* margin-top: -1%;*/
    
    z-index: 10;
    width: 90%;
    text-align: left;
    padding: 0.4em;
    background-color: #e8e8e8; 
    height: 200px; 
    /*display: none;*/  
    overflow-y:scroll;
    position: absolute;
    border-radius: 3px;
}
.group-box {
    border: solid 1px  #51a351;
    background-color: #e8e8e8;
    border-radius: 3px;
}

a {
    font-size: 16px;
}

.graylabel {
    color: gray;
}

.menu-buttonsfont12 {
        font-size: 12px;
}

.btn-default,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger {
    -webkit-box-shadow: 1px 3px 0px rgba(4, 4, 4, 0.3);
    -moz-box-shadow:    1px 3px 0px rgba(4, 4, 4, 0.3);
    box-shadow:         1px 3px 0px rgba(4, 4, 4, 0.3);
    /*border-radius:0;*/
}

.btn-default:active,.btn-primary:active,.btn-success:active,.btn-info:active,.btn-warning:active,.btn-danger:active {
    margin-top: 3px;
    margin-bottom: -3px;
}

.version-number{margin-top: 0;
    margin-left: 60px;
    position: absolute;}

/*.ng-scope {
    margin-top: -10px;
}*/

h1, h2, h3, h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.label-coursedetail {
    text-align: left;
}
.up-scroll {
        width: 100%;
    margin: 0px auto;
    background-color: #e8e8e8;
    border: none;
    border-radius: 7px;
    height: 41px;
    font-size: 18pt;
    color: #A6AEB5;
}
.picto {
         width: 40px;
    height: 35px;   
}
.color-picto {
    background-color: #cccccc;
}
.text-color-b {
   
    color: white;
}
.btn-block {
    width: 104%;
        box-shadow: 1px 3px 0px rgba(4, 4, 4, 0.3);
}
.picto-width {
    padding-right: 13px;
    padding-left: 13px;

   
}

.ui-widget-overlay {
    background: none !important;
}